<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""> SavaDay<img src="icon-512.png" class="col-4"> </a>
    
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="money">
                <span class="oi oi-pie-chart" aria-hidden="true"></span> Money Log
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="todo">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Todo
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="oi oi-cog" aria-hidden="true"></span> App Settings
            </NavLink>
        </li>
        @* <li class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </li> *@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="oi oi-question-mark" aria-hidden="true"></span> About
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

#pragma warning disable CS8603 // Possible null reference return.
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
#pragma warning restore CS8603 // Possible null reference return.

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}