@page "/about"

<h1>About</h1>

The current version of the app is: @localVer<br />
<br />
Developed by Krasen Ivanov<br />
Built using Blazor and .Net Core<br />
The source code is here https://github.com/Krasen007/SavaDay <br />

@code {
    string localVer = System.Reflection.Assembly.GetExecutingAssembly().GetName().Version!.ToString();
}