@page "/"
@inject Services.AppData AppData

<h1>Dashboard</h1>

Welcome to your new app.
<br />
<br />
Here you can track your savings.
<br />
Go to settings and set daily saving increment.
<br />
On your way to SavaDay!
<br />
<br />
Your balance right now is: TODO
<br />
Your last checkin was at: TODO

<p>
    <br />
    Current increment settngs: @AppData.IncrementAmount.ToString(format: "0.00") <br />
    Total Days: @totalDaysText<br />
    Total amount for saving: @totalAmount.ToString(format: "0.00")<br />
    Current date: @date2 @*, you selected @date1*@
</p>

<form class="form-check-inline">
    @*<div class="form-group">
            <label for="start1">Pick date:</label>

            <input type="date" placeholder="20.3.2020" class="form-control" id="startForm" @bind="date1">
        </div>*@
    <div class="form-group">
        <label for="start1">Start date:</label>

        <input type="number" min="0" class="form-control" id="startForm" @bind="startDay">
    </div>
    <br />

    <div class="form-group">
        <label for="end">End date:</label>

        <input type="number" min="0" class="form-control" id="endForm" @bind="endDay">
    </div>
    <br />

    <div class="form-group">
        <label for="beginAmount">Begin amount:</label>

        <input type="number" step="0.01" min="0" class="form-control" id="beginAmountForm" @bind="beginAmount">
    </div>
    <br />
</form>
<br />

<button class="btn btn-primary" @onclick="CalculateAmount">Calculate</button>
<button class="btn btn-primary" @onclick="Reset">Reset</button>
<br />

@code {
    //private DateTime date1;
    private DateTime date2 = DateTime.Now;

    private double totalAmount = 0.00;
    private int startDay = 0;
    private int endDay = 0;
    private string totalDaysText = "Click calculate";

    private double beginAmount = 0;
    private double moneyTotal;
    private int totalDays;

    private void CalculateAmount()
    {
        // Clears amount if user press calculate multiple times.
        totalAmount = 0;
        moneyTotal = beginAmount - AppData.IncrementAmount; // Increases the amount per day with the given begin amount
        totalDays = endDay - startDay;

        for (int i = 0; i <= totalDays; i++)
        {
            moneyTotal = moneyTotal + AppData.IncrementAmount;
            totalAmount += moneyTotal;
        }

        totalDaysText = (totalDays + 1 /*accounts for dates like start 1 end 2 = should be 2 days */).ToString();
    }

    private void Reset()
    {
        moneyTotal = 0;
        totalAmount = 0;
        totalDaysText = "Click calculate";

        startDay = 0;
        endDay = 0;
        beginAmount = 0;
    }
}