@page "/money"
@inject Services.AppData AppData
@inject Blazored.LocalStorage.ILocalStorageService localStore

<h1>Money Page LocalStorage</h1>

<textarea @bind="noteContent" />
<br />
<button @onclick="UpdateLocalStorage">Save</button>
<button @onclick="ClearLocalStorage">Clear</button>

@code {
    const string noteKey = "note";
    string noteContent = string.Empty;

    public async void UpdateLocalStorage()
    {
        await localStore.SetItemAsync(noteKey, noteContent);
    }

    public async void ClearLocalStorage()
    {
        noteContent = string.Empty;
        await localStore.ClearAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        noteContent = await localStore.GetItemAsync<string>(noteKey);
    }
}