@page "/settings"

<h1>Settings</h1>

<p>
    The default value is 0.01 wich if you increase the amount every day with 0.01 at the end of the year you will save 664.30 cash.<br />
    If you set the increment higher you will ammass more money faster.<br />
    Bigger increments may be useful for shorter periods of saving.
</p>

<form class="form-check-inline">
    <div class="form-group">
        <label for="start1">Current increment:</label>
        <input type="number" class="form-control" id="increment" @bind="Increment.IncrementAmount">
    </div>
    <br />
</form>
<br />

<button class="btn btn-primary" @onclick="Reset">Reset</button>
<button class="btn btn-primary" @onclick="Set">Set</button> @message

<br />

@code {
    private string message = string.Empty;

    private void Reset()
    {
        Increment.IncrementAmount = Increment.DefaultIncrementAmount;
        message = string.Empty;
    }
    private void Set()
    {
        // Confirms user chioce.
        message = " All done! Go back to home page.";
    }
}

<br />
<p>
    Todo:
</p>
<p>
    Add check on form for dates;<br />
    Add ability to use both comma and period separators;<br />
    Display total with decimal point;<br />
    Transfer result to calculator;<br />
    Add current saved amount;<br />
    Add persistence of user money amount when the last time the app was run;<br />
    Set goal for saving, ex. month year, set increment, generate table with days, move calculate to dashboard;<br />
</p>